




h1.carousel,
p.carousel {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.divimg {
    background-color: #777;
}
